# Build output directories
bin-ow/
bin-gcc/

# Compiled intermediates
*.obj
*.res
*.map
*.err
*.lst

# Executables
*.exe

# OpenWatcom linker files
*.lnk

# Build logs
compile.log
make.out

# OpenWatcom browse/debug files
*.mbr
*.sym
